<div class="row mb-2">
<div class="col-md-4 p-3 projects">
<%= image_tag("IMG-20241212-WA0005.jpg") %>
  <h2>A FURNITURE WEBSITE</h2>
  <p>A furniture website, where home owners can get their desired interior stuff at affordable prices and real comfort.</p>
</div>


<div class="col-md-4 p-3 projects">
<%= image_tag("Hostel.png") %>
  <h2>A HOSTEL WEBSITE</h2>
  <p>A hostel website where students can request for allocation of hostel rooms depending on their budget and taste.</p>
</div>

<div class="col-md-4 p-3 projects">
  <%= image_tag("Tour.png") %>
  <h2>A TOUR WEBSITE</h2>
  <p>A Tour Guide for travellers to enhnace their tour, getting the best locations and premium lifestyle.</p>
</div>
</div>
<div class="row mb-3">
<div class="col-md-4 p-3 projects">
  <%= image_tag("School.png") %>
  <h2>A SCHOOL WEBSITE</h2>
  <p>An Online Learning Platform where students can learn online an enjoy while making positive use of thier time.</p>
</div>

<div class="col-md-4 p-3 projects">
<%= image_tag("MovieDashboard.png") %>
  <h2>A MOVIE WEBSITE</h2>
  <p>A Movie Website, where people can download and watch movies with dynamic types.</p>
</div>

<div class="col-md-4 p-3 projects">
  <%= image_tag("ContactPage.png") %>
  <h2>A REAL ESTATE WEBSITE</h2>
  <p>A Real Estate Website, where intrested individuals can find their desired lands.</p>
</div>
</div>