<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5355fa9b1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .blue{
        background-color: blue;
      }
    h1{
      font-size: 80px;
      margin-top: -20px;
      margin-bottom: 20px;
    }
    h2{
      color: blue;
      font-size: 40px;
    }
    a{
      color:white;
      text-decoration:none;
      padding-left: 30px;
    }
    .space{
      justify-content: space-between;
      }
    .image-home{
      width: 200px;
      height: 38vh;
      background-color: white;
      border: 2px solid white;
      margin-bottom: 40px;
      border-radius: 50%;
    }
    .image-home img{
      border-radius: 50%;
    }
    .about-button{
      border-radius: 6px;
    }
    .enter{
      width: 100%;
    }
    button{
      background-color: black;
      color: white;
      width: 30vw;
    }
      .contact-input input{
    width: 50%;
    margin: 10px;
    padding: 10px;
  }
  .contact-input button{
    border: none;
    border-radius: 6px;
    padding: 10px;
  }
  .details{
    font-size: 30px;
  }
  .about img{
    background-color: black;
    width: 100%;
    height: 60vh;
  }
  .projects{
    border: 1px solid black;
    text-align: center;
  }
  .projects img{
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
  }
    </style>
  </head>

<body class="">
<nav class="bg-black d-flex text-white p-3 space">
<%= link_to "Oniye Abdullahi", "/" %>
<div class="">
<%= link_to "Home Page", "/home" %>
<%= link_to "About Me", "/about" %>
<%= link_to "My Projects", "/works" %>
<%= link_to "Contact Me", "/contact" %>
</div>
</nav>
<main class="container p-5">
<%= yield %>
</main>
<footer>
<p class="bg-black text-white text-center p-3 fixed-bottom">&copy; <%= Time.new.year %> Oniye Abdullahi</p>
</footer>
  </body>
</html>
